.s5-box-wrapper {
    border-radius: 1.3rem;
    background-color: var(--s5-white-color);
    padding: 0.8rem;
    margin-bottom: 1.1rem;
    display: block;


    &.box-btn {
        @include flex_row;
        align-items: center;
        font-size: 1.5rem;
        padding-right: 3rem;
        line-height: 1;
        cursor: pointer;
        background-image: url('../assets/img/icons/expand.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.2rem) center;
        background-size: 1.2rem 1.2rem;
    }

    .box-btn {
        &__img {
            flex: 0 0 4.1rem;
            width: 4.1rem;
            height: 4.1rem;
            border-radius: 0.8rem;
            @include flex_row;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            margin-right: 1.5rem;

            & > img {
                margin: auto;
                object-fit: contain;
                width: 85%;
            }

            &._orange {
                color: var(--s5-white-color);
                background-color: #FFF1CD;
            }
            &._grey {
                background-color: var(--s5-dark-grey-color);
            }
            &._green {
                background-color: #CBFFD3;
            }
            &._purple {
                background-color: #E2E5FF;
            }
        }

        &__text {
            margin-right: 1rem;
        }

        &__subinfo {
            margin-left: auto;
            @include flex_row;
            font-weight: 700;
            align-items: center;

            &._empty {
                filter: grayscale(1);
                opacity: 0.3;
            }

            & > svg {
                margin-left: 0.5rem;
                width: 1.8rem;
                height: 1.8rem;
                transform: translate(0, -0.1rem);
            }
            & > img {
                transform: translate(0, -0.2rem);
                display: block;
                width: 1.8rem;
                height: 1.8rem;
                margin-left: 0.5rem;
            }
        }
    }
}

.addstars-modal {
    width: calc(100% - 3rem);

    &.modal-window__content {
        background-color: var(--s5-white-color);
        @include flex_col;
        justify-content: center;
        border-radius: 2rem;
    }
    .modal-window__close {
        display: none;
    }

    p {
        margin-top: auto;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }

    .request-btn {
        margin-top: auto;
    }
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #929292CC, $alpha: 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--pl-transition);
    z-index: 1000000;
    @include flex_row;
    align-items: center;
    justify-content: center;

    &__close {
        width: 6rem;
        height: 6rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &._visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        backdrop-filter: blur(5px);

        .modal-window__content {
            transform: translate(0, 0) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__content {
        max-width: 100%;
        background-color: var(--pl-primary-white-color);
        @include flex_col;
        align-items: center;
        padding: 2rem;
        transition: var(--pl-transition);
    }
}

.btm-fixed-btns {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 10;
    transform: translate(calc(100% + 1.5rem), 0);
    transition: $transition;

    &._visible {
        transform: translate(0);
    }
}

.return-btm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    color: var(--s5-black-color);
    font-weight: 400;
    padding: 0 1rem;
    border-radius: 2rem;
    line-height: 3.4rem;
    font-size: 1.6rem;
    background-color: var(--s5-white-color);
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: var(--s5-box-shadow);
    position: relative;
    cursor: pointer;

    &_return {
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 1.5rem;
            transform: translate(0, -50%);
            display: inline-block;
            width: 0.5rem;
            height: 0.9rem;
            background-image: url('../assets/img/icons/expand_left.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 1rem;
        }
    }
}

.request-btn {
    width: 100%;
    line-height: 5rem;
    min-height: 5rem;
    background-color: #D6D4DF;
    border-radius: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--s5-white-color);
    font-weight: 700;
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
    pointer-events: all;
    background-color: var(--s5-blue-color);
    font-size: 1.6rem;

    &._load {
        font-size: 0rem;
        pointer-events: none !important;

        & > *:not(.loader) {
            display: none !important;
        }
        .loader {
            display: grid;
        }
    }

    &._disabled {
        pointer-events: none !important;
        background-color: #D6D4DF !important;
    }
    
    .loader {
        width: 3rem;
        aspect-ratio: 1;
        padding: 0 !important;
        margin: 0 !important;
        display:none;
        -webkit-mask: conic-gradient(from 15deg,#0000,#000);
        animation: l26 1s infinite steps(12);
      }
      .loader,
      .loader:before,
      .loader:after{
        background:
          radial-gradient(closest-side at 50% 12.5%,
           #ffffff 96%,#0000) 50% 0/20% 80% repeat-y,
          radial-gradient(closest-side at 12.5% 50%,
           #ffffff 96%,#0000) 0 50%/80% 20% repeat-x;
      }
      .loader:before,
      .loader:after {
        content: "";
        grid-area: 1/1;
        transform: rotate(30deg);
      }
      .loader:after {
        transform: rotate(60deg);
      }
      
      @keyframes l26 {
        100% {transform:rotate(1turn)}
      }
}