.s5-box-wrapper {
    border-radius: 1.3rem;
    background-color: var(--s5-white-color);
    padding: 0.8rem;
    margin-bottom: 1.1rem;
    display: block;


    &.box-btn {
        @include flex_row;
        align-items: center;
        font-size: 1.5rem;
        padding-right: 3rem;
        line-height: 1;
        cursor: pointer;
        background-image: url('../assets/img/icons/expand.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 1.2rem) center;
        background-size: 1.2rem 1.2rem;
    }

    .box-btn {
        &__img {
            flex: 0 0 4.1rem;
            width: 4.1rem;
            height: 4.1rem;
            border-radius: 0.8rem;
            @include flex_row;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            margin-right: 1.5rem;

            & > img {
                margin: auto;
                object-fit: contain;
                width: 85%;
            }

            &._orange {
                color: var(--s5-white-color);
                background-color: #FFF1CD;
            }
            &._grey {
                background-color: var(--s5-dark-grey-color);
            }
            &._green {
                background-color: #CBFFD3;
            }
            &._purple {
                background-color: #E2E5FF;
            }
        }

        &__text {
            margin-right: 1rem;
        }

        &__subinfo {
            margin-left: auto;
            @include flex_row;
            font-weight: 700;
            align-items: center;

            &._empty {
                filter: grayscale(1);
                opacity: 0.3;
            }

            & > svg, 
            & > img {
                margin-left: 0.5rem;
                width: 1.8rem;
                height: 1.8rem;
                transform: translate(0, -0.1rem);
            }
        }
    }
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #929292CC, $alpha: 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--pl-transition);
    z-index: 1000000;
    @include flex_row;
    align-items: center;
    justify-content: center;

    &__close {
        width: 6rem;
        height: 6rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        @include flex_row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &._visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .modal-window__content {
            transform: translate(0, 0) scale(1);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__content {
        max-width: 100%;
        background-color: var(--pl-primary-white-color);
        @include flex_col;
        align-items: center;
        padding: 2rem;
        transition: var(--pl-transition);
    }
}