#root .s5-app {
    --s5-white-color: #ffffff;
    --s5-black-color: #000000;
    --s5-grey-color: #8F8CA3;
    --s5-background-color: #EFEEF4;
    --s5-text-color: #000000;
    --s5-dark-blue-color: #1D1D37;
    --s5-link-color: #007AFF;
    --s5-blue-color: #1773E6;
    --s5-light-blue-color: #2CAFFD;
    --s5-box-shadow: 0 0.4rem 1.6rem 0 #A8A8A840;
    --s5-light-orange-color: #FEF9E6;
    --s5-dark-grey-color: #E3DFF4;
    --s5-dark-orange-color: #FF9306;
}

$transition: all 0.3s ease;
$font: 'Roboto';

