.history-page {
    padding: 0 1.5rem;

    .history-list {

        &__empty {
            padding: 5rem 1rem;
            text-align: center;
            color: var(--s5-grey-color);
        }
        .history-item {
            &:last-child {
                .history-item__info {
                    border-bottom: none;
                }
            }
        }
    }
}
.history-list {

    &__empty {
        padding: 5rem 1rem;
        text-align: center;
        color: var(--s5-grey-color);
    }
}

.history-item {
    @include flex_row;
    align-items: center;
    width: 100%;

    &_withdraw {
        .history-item__right > div:not(.history-item__airdrop).history-item__lose::after {
            background-image: url(../../../assets/img/icons/airdrop_coin.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &_addpartners {
        .history-item__right > div:not(.history-item__airdrop).history-item__lose::after {
            background-image: url(../../../assets/img/icons/game/bet_star_green.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &.history-item_game_result {
        .history-item__spend {
            .history-game-result-star {
                &::after {
                    content: "";
                    position: absolute;
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    background-color: var(--s5-blue-color);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .history-item__img {
            & > span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border-radius: 2.6rem;
                height: 2rem;
                padding: 0 0.3rem;
                line-height: 2rem;
                font-size: 1.2rem;
                font-weight: 500;
                text-align: center;
                @include flex_row;
                align-items: center;
                min-width: 2rem;
                justify-content: center;
                background-color: var(--s5-white-color);
            }

            &._win {
                & > svg {
                    fill: #FF9306;

                    path {
                        fill: #FF9306;
                    }
                }
            }
        }
    }

    &__img {
        margin-right: 1rem;
        flex: 0 0 4rem;
        height: 4rem;
        width: 4rem;
        position: relative;

        &._pending {
            filter: grayscale(1);
        }

        img, svg {
            object-fit: contain;
        }
    }

    &__info {
        padding: 0.7rem 0;
        border-bottom: 0.1rem solid #D9D9D9;
        flex: 1;
        @include flex_row;
        align-items: center;
    }

    &__left {
        margin-right: auto;
    }

    &__topper {
        margin-bottom: 0.6rem;

        & > span {
            transform: translate(0, 0.1rem);
            &.pending-item {
                margin-left: 1rem;
                display: inline-flex;
                align-items: center;
                font-size: 1.1rem;
                line-height: 1.8rem;
                color: #918F9C;

                svg {
                    margin-right: 0.4rem;
                    transform: translate(0, -0.1rem);
                }
            }
        }
    }

    &__stars {
        @include flex_row;
    }

    &__changes {
        @include flex_row;
        margin-bottom: 0.4rem;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.2rem;

        .history-game-result-star {
            transform: translate(0, -0.2rem);
        }
    }

    &__spend {
        @include flex_row;
        align-items: center;
        margin-right: 1rem;
        font-weight: 500;

        & > span {
            font-weight: 700;
        }
    }

    &__profit {
        @include flex_row;
        align-items: center;
        font-weight: 500;

        & > span {
            font-weight: 700;
        }

        svg {
            margin-right: 0.3rem;
        }
    }

    &__date {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #8F8BA2;
        @include flex_row;
        align-items: center;
        width: 100%;

    }

    &__airdrop {
        position: absolute;
        bottom: 0;
        right: 0;
        white-space: nowrap;
        margin-left: auto;
        font-size: 1.1rem;
        font-weight: 700;

        &::after {
            content: "";
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            margin-left: 0.2rem;
            background-image: url('../../../assets/img/icons/airdrop_coin.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translate(0, 0.1rem)
        }
    }

    &__benefits {
        @include flex_row;
        align-items: center;
        font-size: 1.2rem;
        color: #918F9C;
        margin-left: 1rem;

        & > span {
            margin-right: 0.3rem;
            font-weight: 700;
            color: var(--s5-black-color);
        }
    }

    &__right {
        margin-left: 1rem;
        position: relative;
        min-height: 5.9rem;
        @include flex_row;
        align-items: center;

        & > div:not(.history-item__airdrop) {
            @include flex_row;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.8rem;
            font-weight: 500;
            
            &::after {
                content: "";
                display: block;
                margin-left: 0.5rem;
                flex: 0 0 1.8rem;
                width: 1.8rem;
                height: 1.8rem;
                background-image: url('../../../assets/img/icons/game/bet_star_orange.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                transform: translate(0, -0.2rem);
            }

            &._coin {
                color: var(--s5-black-color);
                &::after {
                    background-image: url('../../../assets/img/icons/airdrop_coin.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
            &._usdt {
                color: var(--s5-black-color);
                &::after {
                    background-image: url('../../../assets/img/icons/usdt.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }

            &._green {
                &::after {
                    background-image: url('../../../assets/img/icons/game/bet_star_green.svg');
                }
            }
        }
    }

    &__win {
        color: #65CFA2;
    }
    
    &__lose {
        color: #CC5C5C;

        & > span {
            display: none;
        }
    }
}

.history-game-result-star {
    @include flex_row;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    flex: 0 0 1.4rem;
    margin-right: 0.3rem;
    background-image: url('../../../assets/img/icons/game/bet_star.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    position: relative;

    &._active {
        opacity: 1;

        &._win {
            opacity: 1;
        }
        &._green {
            opacity: 1;
        }
    }

    &._win {
        opacity: 0.4;
        background-image: url('../../../assets/img/icons/game/bet_star_orange.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &._green {
        opacity: 0.4;
        background-image: url('../../../assets/img/icons/game/bet_star_green.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.history-game-result-coin {
    @include flex_row;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    flex: 0 0 1.4rem;
    margin-right: 0.3rem;
    background-image: url('../../../assets/img/icons/airdrop_coin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.history-game-result-usdt {
    @include flex_row;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    flex: 0 0 1.4rem;
    margin-right: 0.3rem;
    background-image: url('../../../assets/img/icons/usdt.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.affilate-page {
    padding: 0 1.5rem;

    & > .request-btn {
        margin-top: 0;
        margin-bottom: 2.5rem;

        & > span {
            
        }

        & > div {
            margin-left: 1.6rem;
            margin-right: -3rem;

            svg {
                margin-right: 0.5rem;
            }
        }
    }

    &._premium {
        .history-item {
        
            &_withdraw {
                .history-item__img {
                    svg {
                        circle {
                            fill: #FFF1CD;
                        }
                        path {
                            fill: #FF8E03;
                        }
                    }
                }
            }
            &_withdraw_usdt {
                .history-item__right > div:not(.history-item__airdrop).history-item__lose::after {
                    background-image: url(../../../assets/img/icons/usdt.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
        .history-item__airdrop {
            font-weight: 400;
            color: #8F8BA2;
            &::after {
                display: none;
            }

        }
    }

    .history-item {
        &:last-child {
            .history-item__info {
                border-bottom: none;
            }
        }
    }
    // .history-game-result-star._win {
    //     background-image: url('../../../assets/img/icons/game/bet_star_green.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    // }
    // .history-item__right > div::after {
    //     background-image: url('../../../assets/img/icons/game/bet_star_green.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    // }

    .history-item__benefits {
        margin-left: 0;
    }

}
.history-item_swap {
    .history-item__benefits {
        margin-left: 0;
    }
}
.history-item__affilate-profit {
    @include flex_row;
    align-items: center;
    margin-left: 1rem;

    & > span {
        font-weight: 700;
        margin-right: 0.3rem;
    }

    & > div {
        color: #918F9C;
    }
}
.s5-box-wrapper {
    & + .history-list-title {
        margin-top: 2rem;
    }
}

.history-list-title {
    font-size: 1.5rem;
    color: var(--s5-grey-color);
    text-transform: uppercase;
    padding: 0.5rem 0;
    padding-left: 1rem;
}

.addpartners-row {
    @include flex_row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    height: 1.2rem;
    line-height: 1;

    & > div {
        margin-right: 1rem;
        @include flex_row;
        align-items: center;
    }

    svg {
        margin-right: 0.5rem;
        transform: translate(0, -0.1rem);
    }
}
