.star-topper {
    @include  flex_row;
    justify-content: center;
    width: 100%;
    position: relative;

    &__actions {
        @include flex_row;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 1.5rem;
        display: none;
    }

    &__share {
        width: 3.5rem;
        height: 2.5rem;
        flex: 0 0 3.5rem;
        border-radius: 50%;
        background-color: var(--s5-white-color);
        @include flex_row;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.5rem;
        border-radius: 2rem;
        background-color: var(--s5-white-color);

        svg {

        }
    }

    &__return {
        @include flex_row;
        align-items: center;
        color: var(--s5-black-color);
        font-weight: 400;
        padding: 0 1rem;
        border-radius: 2rem;
        background-color: var(--s5-white-color);

        &::before {
            content: "";
            display: inline-block;
            width: 0.5rem;
            height: 0.9rem;
            background-image: url('../../../assets/img/icons/expand_left.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 0.5rem;
        }
    }

    &__balance {
        padding: 0 1rem;
        height: 2.5rem;
        border-radius: 2rem;
        background-color: var(--s5-white-color);
        @include flex_row;
        align-items: center;

        &._airdrop {
            & > span {
                &::before {
                    background-image: url('../../../assets/img/icons/airdrop_coin.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: translate(0, 0.2rem);
                }
            }
        }
        &._affilate {
            & > span {
                &::before {
                    background-image: url('../../../assets/img/logo/5s_logo_green.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: translate(0, 0.2rem);
                }
            }
        }
        &._affilate_premium {
            & > span {
                &::before {
                    background-image: url('../../../assets/img/icons/usdt.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: translate(0, 0.2rem);
                }
            }
        }

        & > span {
            display: block;
            font-weight: 700;

            &::before {
                content: "";
                display: inline-block;
                margin-right: 0.5rem;
                width: 1.6rem;
                height: 1.6rem;
                background-image: url('../../../assets/img/icons/game/bet_star_orange.svg');
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(0, 0.2rem);
            }

            svg {
                margin-left: 0.8rem;
            }
        }
    }
}

.balance-popup {
    background-color: var(--s5-white-color);
    margin-bottom: auto;
    margin-left: auto;
    margin-top: 0.9rem;
    margin-right: 1.7rem;
    border-radius: 1.2rem;
    padding-right: 3rem;
    padding-top: 1.7rem;

    .modal-window__close {
        background-image: url('../../../assets/img/icons/dots.svg');
        background-repeat: no-repeat;
        background-size: 0.2rem 1.2rem;
        background-position:  calc(100% - 0.8rem) 0.7rem;

        svg {
            display: none;
        }
    }

    ul {
        li {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            div {
                @include flex_row;
                align-items: center;

                svg {
                    width: 2.2rem;
                    margin-right: 0.6rem;
                }
            }
        }
    }
}

.intro-star-topper {
    width: 100%;
    @include flex_col;
    align-items: center;
    justify-content: center;
    padding-top: 11.5rem;
    transition: $transition;
    transition-duration: 1s;
    padding-bottom: 2rem;
    position: relative;
    min-height: 12rem;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;

    &:not(._home) {
        padding-bottom: 1.3rem;
    }

    &._home {
        & + .star-topper__actions {
            position: fixed;
        }
    }

    & > p {
        font-size: 1.4rem;
        font-weight: 400;
        color: #63727B;
        line-height: 1.5rem;
        padding-top: 1.5rem;
        display: none;
        img {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 0.5rem;   
        }

        span {
            color: var(--s5-blue-color);
        }
    }

    img {
        object-fit: contain;
        width: 12.1rem;
        height: 12rem;
    }

    &__subtitle {
        margin-top: 1.8rem;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.8rem;
    }

    &__title {
        margin-top: 1rem;
        font-size: 3.8rem;
        line-height: 4.4rem;
        font-weight: 700;
        transition: $transition;
        text-align: center;

        & > span {
            &:first-child {
                background: -webkit-linear-gradient(-290deg, #FF8E03 40%, #FCD647);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 0.1rem;
            }
            &:last-child {
                background: -webkit-linear-gradient(-290deg, #000000 40%, #666666);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        & > p {
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 400;
        }
    }
}

.s5-app {
    &._inited {
        .star-topper__actions {
            @include flex_row;
        }
        .intro-star-topper {
            padding-top: 2rem;

            & > p {
                display: block;
            }

            &__title {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                display: none;
            }
        }
    }
}

.title-history,
.title-affilate {
    padding: 0 1.5rem;
    text-align: center;
}

.title-history {
    margin-bottom: 1.5rem;
    width: 100%;

    .title-affilate__text {
        
        margin: 1.5rem auto 0;
    }

    &__stars {
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        max-width: 32rem;
        margin: 1.5rem auto 1.5rem;

        & > div {
            position: relative;
            padding-left: 3.2rem;
            line-height: 2.8rem;
            font-size: 2rem;
            font-weight: 500;

            .title-history__starimg {
                background-image: url('../../../assets/img/icons/game/bet_star_orange.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left top;
                width: 2.6rem;
                height: 2.6rem;
                position: absolute;
                top: 0;
                left: 0;
            }


            &:nth-child(1) {
                .title-history__starimg {
                    background-image: url('../../../assets/img/icons/game/bet_star.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left top;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 52%;
                        left: 51%;
                        border-radius: 50%;
                        width: 1.2rem;
                        height: 1.2rem;
                        background-color: #2CAFFD;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            &:nth-child(3) {
                .title-history__starimg {
                    background-image: url('../../../assets/img/icons/airdrop_coin.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left top;
                }
            }
        }
    }


    &__ton_btn {
        width: 100%;
        line-height: 5rem;
        background-color: #D6D4DF;
        border-radius: 1.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--s5-white-color);
        font-weight: 700;
        cursor: pointer;
        position: relative;
        margin-top: 2rem;
        pointer-events: all;
        background-color: var(--s5-blue-color);
    }
}

.title-addstars {
    text-align: center;

    .intro-star-topper {
        &__subtitle {
            margin-bottom: 1rem;
        }
    }
}

.title-affilate {
    padding: 0 1.5rem;
    text-align: center;
    width: 100%;

    &__text {
        font-size: 1.3rem;
        color: #63727B;
        max-width: 33rem;
        margin-top: 1.5rem;

        span {
            font-weight: 700;
            margin: 0 0.3rem;
            color: var(--s5-black-color);
        }

        div {
            color: var(--s5-blue-color);
            display: inline-block;
            margin-left: 0.3rem;
        }
    }

    &__percent {
        // width: 4rem;
        // height: 4rem;
        margin: 1rem auto;
        // border-radius: 0.8rem;
        // background-color: #918F9C;
        // @include flex_row;
        // align-items: center;
        // justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        color: #02A762;
    }

    &__qr {
        margin: 1rem 0 1.8rem;

        & > img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        &-row {
            @include flex_row;
            justify-content: center;
            margin-bottom: 1.3rem;

            & > div {
                line-height: 3.5rem;
                border-radius: 0.8rem;
                background-color: #efeef4;
                min-width: 3.5rem;
                padding: 0 1.1rem;

                &:first-child {
                    text-align: center;
                    position: relative;
                    width: 15.2rem;
                    flex: 0 0 15.2rem;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 1.1rem;
                        transform: translate(0, -50%);
                    }
                }

                &:last-child {
                    margin-left: 1.5rem;
                }
            }
        }
    }

    &__row {
        @include flex_row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0 auto 1.8rem;
        max-width: 28rem;

        & > div {
            @include flex_row;
            align-items: center;
            white-space: nowrap;
        }

        svg, img {
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;
            margin-right: 0.3rem;
            transform: translate(0, -0.1rem);
        }
    }
}